# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
node_modules
.pnp
.pnp.js

# production
build
dist

# deployment
.vercel

# testing
testApp
coverage

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# logs and databases
.tmp
*.log
*.sql
*.sqlite
*.sqlite3

# turbo
.turbo

# node.js
lib-cov
lcov.info
pids
logs
results
.node_history

# typescript
*.tsbuildinfo
next-env.d.ts

# next.js
.next/
out/

# strapi
exports
*.cache
.strapi-updater.json

# public
robots.txt

# os x
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# linux
*~

# windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# misc
.vscode
.idea
license.txt
*.pem
apps/**/.gitignore
*#
ssl
nbproject
public/uploads/*
!public/uploads/.gitkeep

# packages
*.7z
*.csv
*.dat
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip
*.com
*.class
*.dll
*.exe
*.o
*.seed
*.so
*.swo
*.swp
*.swn
*.swm
*.out
*.pid
