$primary: --color-primary
$secondary: --color-secondary
$success: --color-success
$warning: --color-warning
$danger: --color-danger
$info: --color-info
$light: --color-light
$dark: --color-dark
$transparent: --color-transparent

:export
  primary: $primary
  secondary: $secondary
  success: $success
  warning: $warning
  danger: $danger
  info: $info
  light: $light
  dark: $dark
  transparent: $transparent
