@use 'xtheme/v1/colors.sass' as COLORS;
@use 'xtheme/v1/typo.sass' as TYPO;
@import url('https://cdn.jsdelivr.net/npm/normalize.css');

// TODO: add a slight black gradient on the background
// TODO: add iteration to the colors

:root {
  --max-width: 1100px;
  #{TYPO.$rootFontSize}: 1rem;
  #{COLORS.$primary}: #ffc800;
  #{COLORS.$secondary}: #ff00d6;
  #{COLORS.$dark}: #181818;
  #{COLORS.$light}: #fff;
  @media (prefers-color-scheme: light) {
    #{COLORS.$dark}: #fff;
    #{COLORS.$light}: #181818;
  }
}

html {
  box-sizing: border-box;
  font-size: var(TYPO.$rootFontSize);
  font-weight: 400;
}

// * css hack to render box-sizing faster
// * the inheritance loads faster than the cascade
*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 2px solid red; */
}

body {
  background-color: var(COLORS.$dark);
  color: var(COLORS.$light);
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

.capitalize {
  text-transform: capitalize;
}

.uppercase {
  text-transform: uppercase;
}

.lowercase {
  text-transform: lowercase;
}

// .test {
//   & h2 {
//     font-size: clamp(1.5rem, 5vw + 1rem, 8rem);
//   }
// }

.h1 {
  container-type: inline-size;
  font-size: '10cqi';
}
