@use 'xtheme/v1/colors.sass' as COLORS;
@use 'xtheme/v1/typo.sass' as TYPO;
@use 'xtheme/v1/brakepoints.sass' as BRAKEPOINTS;
@use 'xtheme/v1/media.sass' as MEDIA;
@use 'xtheme/v1/funcs.sass' as FUNCS;
@import url('https://cdn.jsdelivr.net/npm/normalize.css');

// TODO: add a slight black gradient on the background
// TODO: add iteration to the colors

:root {
  #{BRAKEPOINTS.$md}: FUNCS.pxToRem(480);
  #{BRAKEPOINTS.$xl}: FUNCS.pxToRem(768);
  #{BRAKEPOINTS.$x3}: FUNCS.pxToRem(1280);
  #{TYPO.$rootFontSize}: FUNCS.pxToRem(16);
  #{COLORS.$primary}: #ffc800;
  #{COLORS.$secondary}: #ff00d6;
  #{COLORS.$dark100}: #282828;
  #{COLORS.$dark200}: #262626;
  #{COLORS.$dark300}: #242424;
  #{COLORS.$dark400}: #222;
  #{COLORS.$dark500}: #202020;
  #{COLORS.$dark600}: #181818;
  #{COLORS.$dark700}: #161616;
  #{COLORS.$dark800}: #141414;
  #{COLORS.$dark900}: #121212;
  #{COLORS.$light}: #fff;
  @media (prefers-color-scheme: light) {
    #{COLORS.$dark600}: #fff;
    #{COLORS.$light}: #181818;
  }
}

html {
  box-sizing: border-box;
  font-size: var(TYPO.$rootFontSize);
  font-weight: 400;
}

// * css hack to render box-sizing faster
// * the inheritance loads faster than the cascade
*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 2px solid red; */
}

body {
  background-color: var(COLORS.$dark600);
  color: var(COLORS.$light);
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: light;
  }
}

// .test {
//   & h2 {
//     font-size: clamp(1.5rem, 5vw + 1rem, 8rem);
//   }
// }

.h1 {
  container-type: inline-size;
  font-size: '10cqi';
}
